<div class="row contents">
            <div class="home-content-left1">
            	<center><h1 >Teams	</h1></center>
                <center><div style="display: inline-block; padding-right: 1.5px; padding-left: 1.5px; ">

                <span> Total Matches Played : {{currentTeam.allMatch}}</span><br />
                <span> Total Matches Win : {{currentTeam.matchWin}}</span><br/>
                <span> Total Matches Draw : {{currentTeam.matchDraw}}</span><br/>
                <span> Total Matches Lose : {{currentTeam.matchLose}}</span><br/>

                <span><a ng-href="#/singlematch">Click Here to See each Match</a></span>
                </div></center>
            </div>                       
            
        </div>
            
        
